# Binaries for programs and plugins
/build
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries and files
/test
*.test
*.test.*
*.sh

# Other files/directories
.soar.yml

/.shards/
/.vscode/
/bin/
/docs/
/lib/
/test/

*.sh
*.cmd
*.exe
